[mysqld]
basedir=/data/mysql
datadir=/data/mysql/data
port=3306
#server_id = 
socket =/tmp/mysqld.sock
character_set_server=utf8

log_bin_trust_function_creators=1 #ERROR 1418 (HY000): 
explicit_defaults_for_timestamp=true
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER
general_log=ON
general_log_file=/data/mysql/log/general_log.log


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/data/mysql/mysqld.pid

